.sticky {
  background: white;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
}

.smallscreen {
  visibility: hidden;
}

@media screen and (max-width: 790px) {
  .navbar-header p {
    font-size: 20px !important;
  }

  .navbar-default {
    display: none !important;
  }

  .smallscreen {
    visibility: visible;
  }

  .sticky .displayFlex {
    display: flex;
    justify-content: space-between;
  }
}
