<div class="row">
    <div class="col-xs-12">

        <!-- REACTIVE FORM -->
        <form [formGroup]="recipeForm" (ngSubmit)="onSave()">           
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-xs-12">
                    <button 
                        type="submit" 
                        class="btn btn-success" 
                        style="margin-right: 5px;"
                        [disabled]="!recipeForm.valid">
                        <span matTooltip="Please provide Name and Category">SAVE</span>
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-danger" 
                        style="margin-right: 5px;" 
                        (click)="onCancel()">
                        CANCEL
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">NAME</label>
                        <input
                            type="text" id="name"                           
                            formControlName="name"
                            class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="category" style="margin-right: 15px;">CATEGORY </label>
                        <input 
                            type="radio"
                            value="main" 
                            formControlName="category" 
                            style="margin-right: 3px;"><span style="color: 'white'; margin-right: 10px;">Main Dish</span>

                        <input 
                            type="radio" 
                            value="dessert" 
                            formControlName="category" 
                            style="margin-right: 3px;"><span style="color: 'white'; margin-right: 10px;">Dessert</span>
                    </div>         
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">IMAGE URL</label>
                        <input
                            type="text" id="imagePath"                          
                            formControlName="imagePath"
                            class="form-control"
                            #imagePath>
                        <br>
                        <input 
                            type='file'
                            name="localImage"
                            autocomplete="off" 
                            (change)="onSelectFile($event)">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="margin-bottom: 10px;">
                    <img *ngIf="!selectedFile" src={{imagePath.value}} class="img-responsive" style="max-height: 300px;">
                    <img src={{selectedFile}} class="img-responsive" style="max-height: 300px;"> 
                    <p style="color: 'white'" *ngIf="localImageName">* Make sure to upload a new image with the same name: {{formattedName(localImageName)}} *</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">DESCRIPTION</label>
                        <textarea
                            type="text" id="description"                         
                            formControlName="description"
                            class="form-control"
                            rows="3"
                            style="resize: none;">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName="instructions">
                    <div 
                        class="row"
                        *ngFor="let instructionCtrl of getInstructionsControls(); let i = index"
                        [formGroupName]="i"
                        style="margin-top: 10px;"
                    >
                        <div class="col-xs-1">
                            <p style="font-size: 15px; margin-top: 10px; color: 'white'">{{i + 1}}.</p>
                        </div>
                        <div class="col-xs-10">
                            <textarea
                                type="string"
                                class="form-control"
                                formControlName="step"
                                style="resize: none;">
                            </textarea>
                        </div>
                        <div class="col-xs-1">
                            <button 
                                type="button"
                                class="btn btn-danger"
                                style="margin-top: 7px;"
                                (click)="onDeleteInstruction(i)">X
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        type="button"
                        class="btn btn-success" 
                        (click)="onAddInstruction()">ADD INSTRUCTION</button>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" style="text-align: center; font-weight: bold; color: 'white'" 
                        *ngIf="recipeForm.value.ingredients.length > 0">
                        <div class="col-xs-6">INGREDIENT NAME</div>
                        <div class="col-xs-2">AMOUNT</div>
                        <div class="col-xs-2">UNIT</div>
                    </div>
                    <div 
                        class="row"
                        *ngFor="let ingredientCtrl of getIngredientsControls(); let i = index"
                        [formGroupName]="i"
                        style="margin-top: 10px;"
                    >
                        <!-- <p>{{ingredientCtrl.value.name}}</p> -->
                        <div class="col-xs-6">
                            <input
                                type="text"
                                class="form-control"
                                formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input
                                type="string"
                                class="form-control"
                                formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <input
                                type="string"
                                class="form-control"
                                formControlName="unit">
                        </div>
                        <div class="col-xs-2">
                            <button 
                                type="button"
                                class="btn btn-danger"
                                (click)="onDeleteIngredient(i)">X
                            </button>
                        </div>
                    </div>                     
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <button 
                                type="button"
                                class="btn btn-success" 
                                (click)="onAddIngredient()">ADD INGREDIENT</button>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </form>
    </div>
</div>