.row {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

label {
  color: white;
}

.help-block {
  color: yellow;
}

.form-group > .ng-invalid.ng-touched {
  border: 1px solid red;
}

span {
  color: black;
}

/deep/ .mat-tooltip {
  font-size: 15px;
}
