<div class="row" *ngIf="recipe.name">
    <div class="col-xs-4">
        <div 
            style="background-color: rgba(0, 0, 0, 0.2); margin-bottom: 20px;"
            matTooltip="Recipe Description">
            <p class="smallText" style="font-size: 16px; color: white; text-align: center; padding: 4px">
                {{recipe.desc}}
            </p>
        </div>

        <div class="smallscreen2">
            <button           
                type="button" 
                class="btn btn-primary" 
                style="font-size: 14px; margin-bottom: 5px; pointer-events: none;">
                Ingredients
            </button>
        </div>      
        <div #editButton class="btn-group smallscreen" appDropDown style="margin-bottom: 5px;">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                style="font-size: 16px;">                
                Settings <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <!-- <li><a style="cursor: pointer;" (click)="onAddToShoppingList()">To Shopping List</a></li> -->
                <li><a style="cursor: pointer;" (click)="onEditRecipe()"><fa-icon [icon]="faEdit" style="font-size: 12px; margin-right: 5px;"></fa-icon>Edit Recipe</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteRecipe()"><fa-icon [icon]="faTrashAlt" style="font-size: 12px; margin-right: 5px;"></fa-icon>Delete Recipe</a></li>
            </ul>
        </div>

        <ul class="list-group" (click)="closeEditButton()">
            <li 
                class="list-group-item smallText" 
                *ngFor="let ingredient of recipe.ingredients" 
                style="background-color: white; font-size: 16px">
                {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.unit }}
            </li>
        </ul>
        <ul class="list-group" *ngIf="recipe.ingredients.length === 0">
            <li class="list-group-item" style="background-color: white; font-size: 16px;">
                Please add ingredients!
            </li>
        </ul>
    </div>

    <div class="col-xs-8" (click)="closeEditButton()">
        <span 
            (click)="onClose()" 
            class="glyphicon glyphicon-remove" 
            style="float: right; font-size: 20px; color: red; cursor: pointer; right: 0; z-index: 10;"
            matTooltip="Close recipe">
        </span>

        <div style="margin-bottom: 25px;">
            <a 
                class="list-group-item" 
                style="border: none; font-size: 34px; text-align: center; margin: auto; margin-bottom: 10px; pointer-events: none; 
                       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; width: fit-content; line-height: 1;">
                {{recipe.name}}
            </a>   
        </div>       
        
        <div style="display: flex; justify-content: center;" *ngIf="recipeImagePositionAbove">
            <img 
                *ngIf="recipe.imagePath" 
                src={{recipe.imagePath}} alt="image" 
                class="img-responsive" style="max-height: 400px; border-radius: 10%; margin-bottom: 30px;">
            <fa-icon 
                [icon]="faLevelDownAlt" 
                style="color: white; cursor: pointer;" 
                (click)="changeImagePosition()"
                matTooltip="Move the image down"
                matTooltipPosition="above">
            </fa-icon>
        </div>
        
        <button 
            type="button" 
            class="btn btn-primary" 
            style="font-size: 16px; margin-bottom: 5px; pointer-events: none;">
            Instructions
        </button>

        <ul class="list-group" *ngIf="!recipe.instructions || recipe.instructions.length === 0">
            <li class="list-group-item" style="background-color: white; font-size: 16px;">
                Please add instructions!
            </li>
        </ul>
        
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let instruction of recipe.instructions; let i = index" style="background-color: white; font-size: 16px;">
                {{i + 1}}. {{ instruction.step }} 
            </li>
        </ul>

        <div style="display: flex; justify-content: center;" *ngIf="!recipeImagePositionAbove">
            <img 
                *ngIf="recipe.imagePath" 
                src={{recipe.imagePath}} alt="image" 
                class="img-responsive" style="max-height: 400px; border-radius: 10%; margin-bottom: 30px;">
            <fa-icon 
                [icon]="faLevelUpAlt" 
                style="color: white; cursor: pointer;"
                (click)="changeImagePosition()"
                matTooltip="Move the image up" 
                matTooltipPosition="above">
            </fa-icon>
        </div>
    </div>
</div>

<!-- 
<br />
{{ recipe.videoURL }}
<button *ngIf="recipe.name && !videoUrl" (click)="updateVideoUrl()">Load Video</button>
<button *ngIf="videoUrl" (click)="removeVideoUrl()">Hide Video</button>
<br /><br />

<iframe
    *ngIf="videoUrl"
    width="560" 
    height="315" 
    [src]="videoUrl"
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe> -->