.row {
  padding: 15px;
}

.row .col-xs-4 .smallscreen2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .row .col-xs-4 .smallscreen {
    display: none;
  }

  .row .col-xs-4 .smallscreen2 {
    display: inline;
  }

  .smallText {
    font-size: 13px !important;
    color: brown;
  }

  .col-xs-8 .list-group-item {
    width: 100% !important;
  }
}
