<div class="row">
    <div class="col-xs-10">
        <div style="height: 100vh;">
            <h3 style="color: white">Still working on this page... Come back later :D</h3>
        </div>
        
        <!-- <hr/>
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <h2>--- SHOPPING CART ---</h2>
        <a 
            class="list-group-item" 
            style="cursor: pointer" 
            *ngFor="let ingredient of ingredients; let id = index"
            (click)="onEditItem(id)"
            style="text-decoration: none; color: black; font-size: 25px;">
            {{ingredient.name}} ( {{ingredient.amount}} ) <img [src]="getImg(ingredient.name.toLowerCase())" height="50px">          
        </a> -->
        
    </div>
</div>
