<div class="row">
    <div class="col-md-4" style="background-color: white; border-radius: 10px;">
        <app-recipe-list></app-recipe-list>
    </div>
    
    <div class="col-md-8">
        <div class="background1" >
            <div class="background2">
                <div class="alert alert-danger" *ngIf="error">
                    <h1>An Error Occurred!</h1>
                    {{ error }}
                </div>
                <router-outlet></router-outlet>
            </div>        
        </div>       
    </div>
</div>
