.container {
  margin: 30px;
}

.background1 {
  border-radius: 10px;
  margin-left: 10px;
  min-height: 100vh;

  background-image: url("../../assets/images/cooking-gif.gif");
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: max-content;
}

.background2 {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  min-height: 100vh;
  padding: 10px;
}
