.row {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.32), 0 1px 4px rgba(0, 0, 0, 0.24);
  padding-top: 10px;
}

.row:focus {
  background-color: cornsilk !important;
}

div:hover {
  animation-duration: 100ms;
}

@media screen and (max-width: 1200px) {
  .mediumScreen {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .mediumScreen {
    display: inline;
  }
}
