.cdk-drag-preview {
  background: transparent;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drag-placeholder {
  visibility: hidden;
}

.my-pagination /deep/ .ngx-pagination .current {
  color: white;
  background: black;
}

.slide-toggle /deep/ {
  color: black;
  font-size: 14px;
}

.transparentButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/deep/ .mat-tooltip {
  font-size: 15px;
}

/* @media screen and (max-width: 1200px) {
  .hideRandomButton {
    display: none;
  }
} */

@media screen and (max-width: 768px) {
  .smallscreen {
    display: none;
  }

  .row .col-xs-12 {
    margin-top: 40px !important;
  }
}
