.my-pagination /deep/ .ngx-pagination .current {
  color: white;
  background: black;
}

.slide-toggle /deep/ {
  color: black;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .smallscreen {
    display: none;
  }

  .row .col-xs-12 {
    margin-top: 40px;
  }
}
