<div style="padding-left: 20px; padding-right: 20px;" *ngIf="recipes; else loading">
    <app-alert [message]="error" *ngIf="error" (close)="onClose()"></app-alert>
    
    <div class="row">
        <div class="col-xs-12">
            <p style="margin-top: 10px;" *ngIf="!categorySelected && nameSelected.length < 3">
                Total {{recipes.length}} recipes, including {{numOfDesserts}} desserts.
                <button class="transparentButton" (click)="onSelectRandom()" >
                    <fa-icon [icon]="faQuestion" style="font-size: 15px;" matTooltip="Pick a random recipe"></fa-icon>
                </button>
            </p>
            <p style="margin-top: 10px;" *ngIf="categorySelected === 'dessert'">
                Total {{numOfDesserts}} desserts.
            </p>
            <p style="margin-top: 10px;" *ngIf="categorySelected === 'main'">
                Total {{recipes.length - numOfDesserts}} main dishes.
            </p>
            <p style="margin-top: 10px;" *ngIf="nameSelected.length >= 3">
                Search Result
            </p>
            <!-- <p style="margin-top: 10px;">{{fullRecipes.length}} recipes.</p> -->
            <p style="margin-top: 10px; color: red" *ngIf="diff(recipes, fullRecipes)">Unsaved Changes</p>
            
            <div style="margin-top: 5px; margin-bottom: 10px;" class="smallscreen">
                <div>
                    <button class="btn btn-success" (click)="getRecipes()" style="margin-right: 3px; font-size: 15px;">
                        All Recipes
                    </button>
                    <button class="btn btn-warning" (click)="onSaveData()" style="margin-right: 3px; font-size: 15px;" *ngIf="diff(recipes, fullRecipes)">
                        Save
                    </button>
                    <button class="btn btn-primary" (click)="onNewRecipe()" style="margin-right: 3px; font-size: 15px;">
                        Add
                    </button>
                    <button 
                        *ngIf="isAdmin"
                        class="btn btn-primary" (click)="onShowJSON()" 
                        style="font-size: 15px;">
                        JSON
                    </button>
                    
                </div>            
            </div>
            <div style="margin-bottom: 10px;">
                <button class="transparentButton" (click)="onSelectCategory('main')" >
                    <fa-icon [icon]="faUtensils" style="font-size: 22px;" matTooltip="Main dishes only"></fa-icon>
                </button>
                <button class="transparentButton" (click)="onSelectCategory('dessert')">
                    <fa-icon [icon]="faIceCream" style="font-size: 22px;" matTooltip="Desserts only"></fa-icon>
                </button>
                <input
                    (input)="search($event)" 
                    placeholder="Search..." 
                    style="padding: 3px; font-size: 16px; width: 140px; border: none; margin-left: 3px">
            </div>
                      
            <app-recipe-item 
                *ngFor="let recipeItem of recipes 
                    | categoryFilter: categorySelected: 'category' 
                    | nameFilter: nameSelected: 'name'
                    | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index"
                [recipe]="recipeItem"
                [index] = "recipeItem.id">
            </app-recipe-item>

            <pagination-controls
                (pageChange)="currentPage = $event"
                class="my-pagination">
            </pagination-controls>            
        </div>
    </div>
</div>
<ng-template #loading>Loading...</ng-template>
