<div style="padding-left: 20px; padding-right: 20px;">
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    
    <div class="row">
        <div class="col-xs-12">
            <p style="margin-top: 10px;">Number of Recipes: {{recipes.length}}</p>
            <div style="margin-top: 5px; margin-bottom: 10px;" class="smallscreen">
                <div>
                    <button class="btn btn-success" (click)="getRecipes()" style="margin-right: 5px; font-size: 15px;">
                        All Recipes
                    </button>
                    <button class="btn btn-warning" (click)="onSaveData()" style="margin-right: 5px; font-size: 15px;">
                        Save All
                    </button>
                    <button class="btn btn-primary" (click)="onNewRecipe()" style="margin-right: 5px; font-size: 15px;">
                        Add Recipe
                    </button>
                </div>            
            </div>

            <app-recipe-item 
                *ngFor="let recipeItem of recipes | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index"
                [recipe]="recipeItem"
                [index] = "itemsPerPage * (currentPage-1) + i">
            </app-recipe-item>

            <pagination-controls
                (pageChange)="currentPage = $event"
                class="my-pagination">
            </pagination-controls>
            
        </div>
    </div>
</div>
